@{
    ViewBag.Title = "Comment Page";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default groups">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tags</h3>
                    </div>
                    <div class="panel-body">
                        <div class="group-item">
                            <ul>
                                <li>.NET</li>
                                <li>Git</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
           
        
                <div class="panel panel-default post">
                    <div class="panel-heading">
                        <h3 class="panel-title">Post</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="profile.html" class="post-avatar thumbnail">
                                    <img src="img/user.png" alt="">
                                    <div class="text-center">DevUser1</div>
                                </a>
                                <div class="likes text-center">7 Likes</div>
                            </div>
                            <div class="col-sm-10">
                                <div class="bubble">
                                    <div class="pointer">
                                        <p>Hey I was wondering if you wanted to go check out the football game later. I heard they are supposed to be really good!</p>
                                    </div>
                                    <div class="pointer-border"></div>
                                </div>
                                <p class="post-actions">
                                <p class="post-actions">
                                    <a href="#">Upvote</a> - <a href="#">Downvote</a>
                                </p>
                                <div class="comment-form">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <input type="text" id="Comment" class="form-control" placeholder="enter comment">
                                        </div>
                                        <button type="button" id="Add-btn" class="btn btn-default" onclick="addComment()">Add</button>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <div class="comments" id="Comments">
                                    <div class="comment" id="test">
                                        <a href="#" class="comment-avatar pull-left"><img src="img/user.png" alt=""></a>
                                        <div class="comment-text">
                                            <p>I am just going to paste in a paragraph, then we will add another clearfix.</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="comment">
                                        <a href="#" class="comment-avatar pull-left"><img src="img/user.png" alt=""></a>
                                        <div class="comment-text">
                                            <p>I am just going to paste in a paragraph, then we will add another clearfix.</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         





                </div>

        </div>
    </div>
</section>

<script>

    function addComment() {
        console.log('hi');
        var comments = document.getElementById('Comments');
        var comment = document.createElement('div');
        comment.setAttribute('class', 'comment');
        var text = document.getElementById('test').innherHTML;
        console.log(text);
        comment.innerHTML = text;
        comments.appendChild(comment);


    }    
</script>